@layer reset, base, components, utilities;
@import './reset.css' layer(reset);
@import './base.css' layer(base);
@import './panel.css' layer(components);
@import './field.css' layer(components);
@import './dialog.css' layer(components);

:root {
  --color-background: black;
  --color-text: white;
  --color-grid: hsl(0 0% 20% / 1);
  --color-guide: var(--color-panel-background);
  --color-panel-background: hsl(0 0% 60% / 1);
  --color-panel-text: var(--color-background);
  --color-accent: blue;
  --color-bounds: var(--color-accent);
}

body,
html,
#app {
  width: 100%;
  height: 100%;
}

body {
  font-family: monospace;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-background);
}

[hidden] {
  display: none;
}
